table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #5a8b8d;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  background-color: grey;
}

.ant-descriptions-title, .ant-form-item-label > label, p {
  color: white;
}